<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Feedback</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Kesan</h2>
      <p>
        Mata Kuliah paling menyenangkan dan menegangkan, saya tertarik di bidang
        front end saat ini maka dari itu saya mengambil ulang mata kuliah ini/p>
      </p>

      <h2>Pesan</h2>
      <p>
        Semoga Pak bagus dapat memberikan ilmu yang bagus, lalu bapak juga dapat
        menerapkan mata kuliah ini ke angkatan selanjutnya dengan kurikulum
        terbarunya
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
