<ion-header>
  <ion-toolbar color="primary">
    <ion-title>News Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <!-- Logo or Header Image -->
  <div class="logo-container">
    <img src="assets/logo-news.png" alt="News Logo" class="logo" />
  </div>

  <!-- Login Form -->
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <!-- Username Field -->
    <ion-item lines="inset">
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        autocomplete="username"
      ></ion-input>
    </ion-item>

    <!-- Password Field -->
    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="current-password"
      ></ion-input>
    </ion-item>

    <!-- Action Buttons -->
    <div class="button-container">
      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
        Login
      </ion-button>
      <ion-button expand="block" color="secondary" (click)="onRegister()">
        Register
      </ion-button>
      <ion-button expand="block" color="tertiary" (click)="showStoredData()">
        Show Stored Data
      </ion-button>
    </div>
  </form>

  <!-- Additional Links -->
  <div class="links-container">
    <ion-text color="medium">
      <p>
        Forgot your password?
        <a href="#" (click)="onForgotPassword()">Click here</a>
      </p>
      <p>
        Explore the latest news without logging in:
        <a href="#" (click)="browseNews()">Browse News</a>
      </p>
    </ion-text>
  </div>
</ion-content>
