<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="searchNews()"
    placeholder="Search News"
  ></ion-searchbar>

  <ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
      {{ category | titlecase }}
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let article of articles" (click)="openDetail(article)">
      <ion-thumbnail slot="start">
        <img [src]="article.urlToImage" alt="No Image Available" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
